**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vscode
**/.vs
**/.idea
**/__pycache__
**/bin
**/obj
**/node_modules
**/packages
**/*.user
**/*.rsuser
**/*.suo
**/*.swp
**/*.cache
**/*.pyc
Dockerfile.*
README.md
LICENSE
